/* Reset basique */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fond rouge bordeaux */
body {
    background-color: #7b1e1e; /* Bordeaux */
    color: white;
    text-align: center;
}

/* Logo */
.logo-container {
    margin-top: 30px;
}

.logo {
    width: 120px !important;
    height: auto !important;
    display: block;
    margin: 10px auto 0;
}


.navbar {
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    gap: 10px;              /* espace entre boutons */
    background: none;       /* plus de bandeau */
}

.navbar a {
    display: inline-block;
    background-color: #d4af37;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    color: #7b1e1e;
    font-weight: bold;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #c19b2e;
}



/* Texte principal */
.content {
    margin-top: 40px;
    font-size: 20px;
}

.cotisation {
    margin-top: 25px;
}

.btn-cotisation {
    display: inline-block;
    background: linear-gradient(135deg, #e5c35a, #d4af37);
    color: #7b1e1e;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #c19b2e;
    box-shadow: 0 6px 0 #b08f2c;
    transition: all 0.2s ease;
}


.btn-cotisation:hover {
    background: linear-gradient(135deg, #d4af37, #c19b2e);
    transform: translateY(2px);
    box-shadow: 0 4px 0 #9e7d22;
}

.btn-cotisation:active {
    transform: translateY(6px);
    box-shadow: 0 0 0 #9e7d22;
}


@media (max-width: 600px) {
    .btn-cotisation {
        font-size: 16px;
        padding: 12px 20px;
    }
}

