/* Reset basique */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fond rouge bordeaux */
body {
    background-color: #7b1e1e; /* Bordeaux */
    color: white;
    text-align: center;
}

/* Logo */
.logo-container {
    margin-top: 30px;
}

.logo {
    width: 120px !important;
    height: auto !important;
    display: block;
    margin: 10px auto 0;
}


.navbar {
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    gap: 10px;              /* espace entre boutons */
    background: none;       /* plus de bandeau */
}

.navbar a {
    display: inline-block;
    background-color: #d4af37;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    color: #7b1e1e;
    font-weight: bold;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #c19b2e;
}


/* Texte principal */
.content {
    margin-top: 40px;
    font-size: 20px;
}
